/* --- VARIABLES --- */
:root {
  /* COLORS */
  --primaryColor: #EBEFE8;
  --primaryColorMedium: #94A987;
  --primaryColorDark: #425139;
  --secondaryColor: #EBE5E0;
  --accentColor: #F27405;
  --hoverButtonColor: #F59037;
  --disableButtonColor: #b6865c;
  --backgroundColor: #f5f5f5;
  --baseTextDarkColor: #3C3C3C;
  --metodeOrange: #FAEADB;
  --textCardsBrown: #9E4C03;
  
  /* SPACING */
  --spacing8: 8px;
  --spacing16: 16px;
  --spacing24: 24px;
  --spacing32: 32px;
  --spacing48: 48px;
  --spacing64: 64px;
}



/* --- FAGLIGE TILGANG --- */

.metoder {
  width: 100%; /* 1 per row */
}

.metoder-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.metoder {
  position: relative;
  height: 200px;
  margin: 0;
  border-radius: var(--borderRadius);
  overflow: hidden;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.metode-dialog {
  border: none;
  border-radius: 10px;
  padding: var(--spacing48) var(--spacing32) var(--spacing32) var(--spacing32);
  max-width: 500px;
  width: 90%;
  background: var(--accentColorLight);
  color: var(--accentColorDark);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  font-family: sans-serif;
  animation: fadeIn 0.3s ease;
  margin-top: var(--spacing64);
}

.metode-billede {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  z-index: -1;
}

.metoder .overlay {
  background: linear-gradient(to bottom, rgba(124, 77, 12, 0.4), rgba(97, 55, 7, 0.7));
  width: 100%;
  height: 100%;
}

.metode-introbeskrivelse {
  color: var(--accentColorDark);
  font-size: 0.95rem;
  padding: var(--spacing16);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.metodeTitel {
  font-size: 1.5rem;
  font-weight: 600;
  position: absolute;
  top: 40%;
  width: 100%;
  margin: 0;
  z-index: 1;
  color: white;
  text-align: center;
}

.metode-dialog .modal-close {
  position: absolute;
  top: var(--spacing16);
  right: var(--spacing16);
  border: none;
  background: none;
  font-size: 1.5rem;
  padding: var(--spacing8);
  box-shadow: none;
}

.metode-dialog .close:hover,
.metode-dialog .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Desktop */ 
@media (min-width: 768px) {

  .metoder-wrapper{
    margin-top: var(--spacing48);
    margin-bottom: var(--spacing48);
  }
  .metode-billede {
    height: 250px;
  }
  
  .metoder{
    width: calc(33.333% - 1rem); 
    height: 250px;
  }

  .metodeTitel {
    font-size: 1.3rem;
  }

  .metode-introbeskrivelse {
    font-size: 0.85rem;
  }

  .metoder:hover {
    transform: scale(1.03);
  }

  .hover-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: var(--metodeOrange);
    transition: height 0.4s ease-in-out;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .metoder:hover .metodeTitel {
    display: none;
  }

  .metoder:hover .hover-overlay {
    height: 100%;
  }

  .metoder:hover .metode-introbeskrivelse {
    opacity: 1;
  }

  .metode-dialog{
    max-width: none;
    width: 800px;
    max-height: 80vh;
    padding: 3rem;
  }

  .metode-dialog img{
    height: 350px;
  }

}

