:root {

    /* COLORS */
    --primaryColor: #EBEFE8;
    --primaryColorMedium: #94A987;
    --primaryColorDark: #425139;
    --secondaryColor: #EBE5E0;
    --accentColor: #F27405;
    --hoverButtonColor: #F59037;
    --disableButtonColor: #b6865c;
    --backgroundColor: #f5f5f5;
    --baseTextDarkColor: #3C3C3C;


    /* SPACING */
    --spacing8: 8px;
    --spacing16: 16px;
    --spacing24: 24px;
    --spacing32: 32px;
    --spacing48: 48px;
    --spacing64: 64px;

    /* DETAILS */
    --borderRadius: 10px;
    --round: 50%;
}

.news-overview .news-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing16)
}

.news-overview .news-container a {

    text-decoration: none;
}

.news-overview .news {
    display: flex;
    border-radius: var(--borderRadius);
    gap: var(--spacing8);
    height: 150px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
    transition: .3s;
}

.news-overview .news:hover {
    transform: scale(1.01);
}

.news-overview a:active .news {
    transform: scale(.99);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.24);

}

.news-overview .news img {
    width: 40%;
    height: 100%;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);

}

.news-overview .news p {
    font-size: .8rem;
}

.news-overview .news h3 {
    font-size: .9rem;
}

.news-page .breadcrums {
    font-size: .8rem;
    display: flex;
    gap: 4px;
    align-items: center;
}

.news-page .breadcrums a {
    text-decoration: none;
}

.news-page h2 {
    margin-bottom: var(--spacing16);
}

.news-page .date {
    font-size: .8rem;
    text-align: right;
    color: gray;
}