/* --- IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #EBEFE8;
    --primaryColorMedium: #94A987;
    --primaryColorDark: #425139;
    --secondaryColor: #EBE5E0;
    --accentColor: #F27405;
    --hoverButtonColor: #F59037;
    --disableButtonColor: #b6865c;
    --backgroundColor: #f5f5f5;
    --baseTextDarkColor: #3C3C3C;


    /* TEXT  */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem;

    /* SPACING */
    --spacing8: 8px;
    --spacing16: 16px;
    --spacing24: 24px;
    --spacing32: 32px;
    --spacing64: 64px;

    /* DETAILS */
    --borderRadius: 10px;
    --round: 50%;
    --shadow: 3px 3px 8px gray;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
    text-wrap: balance;
}

.fullWidth {
    grid-column: 1/-1;
}

/* --- GENERALS --- */
body {
    margin: 0;
    color: var(--baseTextDarkColor);
}

main {
    display: grid;
    grid-template-columns: 15px repeat(4, 1fr) 15px;
}

header {

    padding: var(--spacing16);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top .3s;
}



section {
    grid-column: 2 / -2;

}

article {}

a {}

i {}

/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    margin: var(--spacing16) 0 0 0;
}

h2 {}

h3 {}

p {
    max-width: 75ch;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

a {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

.index h1 {
    color: var(--accentColor);
}



img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

/* --- BUTTONS --- */
button {
    cursor: pointer;
    border: 1px solid var(--accentColor);
    padding: var(--spacing8) var(--spacing16);
    border-radius: var(--borderRadius);
    background: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
}

a .btn {
    border: 1px solid var(--accentColor);
    padding: var(--spacing8) var(--spacing16);
    border-radius: var(--borderRadius);
    background: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);

}

a .btn:hover {}

button.mobil-menu {
    background: none;
    border: none;
    padding: var(--spacing8);
    font-size: 1.5rem;
    box-shadow: none;
}

button.mobil-menu-close {
    position: absolute;
    top: var(--spacing24);
    right: var(--spacing24);
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: var(--spacing8);
    box-shadow: none;

}

/* --- NAV --- */

.mobil-nav {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    gap: var(--spacing8);
    padding: var(--spacing16);
    width: 100%;
    height: 100vh;
    transition: .5s;
    transform: translateX(500px);
    align-items: center;
}

nav a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--baseTextDarkColor)
}

.logo {
    height: 50px;
}

/* --- HERO --- */
.hero {
    height: 225px;
}