/* --- IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #EBEFE8;
    --primaryColorMedium: #94A987;
    --primaryColorDark: #425139;
    --secondaryColor: #EBE5E0;
    --accentColor: #F27405;
    --accentColorLight: #FBD5B4;
    --accentColorDark: #9E4C03;
    --hoverButtonColor: #F59037;
    --disableButtonColor: #b6865c;
    --backgroundColor: #f5f5f5;
    --baseTextDarkColor: #3C3C3C;


    /* SPACING */
    --spacing8: 8px;
    --spacing16: 16px;
    --spacing24: 24px;
    --spacing32: 32px;
    --spacing48: 48px;
    --spacing64: 64px;

    /* DETAILS */
    --borderRadius: 6px;
    --round: 50%;
    --shadow: 1px 1px 5px rgba(0, 0, 0, 0.24);
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.fullWidth {
    grid-column: 1/-1;
}

.bold {
    font-weight: 700;
}

.primary-bg {
    background: var(--primaryColor);
    padding: var(--spacing16);
    border-radius: var(--borderRadius);
}

.centered {
    text-align: center;
    margin: auto;
}

.desktop-img {
    display: none;
}

.desktop-text {
    display: none;
}

/* --- GENERALS --- */
body {
    margin: 0;
    color: var(--baseTextDarkColor);
}

main {
    display: grid;
    grid-template-columns: 15px repeat(4, 1fr) 15px;
    row-gap: var(--spacing24);
    margin-top: 66px;
    min-height: calc(100vh - 250px);
}

header {

    padding: var(--spacing8) var(--spacing16);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top .3s;
    z-index: 2;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.192);
    background: white;
}

section {
    grid-column: 2 / -2;

}

article {}

a {}

i {}


img {
    width: 100%;
    max-height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: var(--borderRadius);
}

.logo {
    height: 50px;
    display: block;
    margin: 0 auto;
    width: fit-content;
}

::backdrop {
    background: rgba(0, 0, 0, 0.3);
}


/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

h1 {
    margin: var(--spacing16) 0 0 0;
    margin-bottom: 0;
    color: var(--accentColor);

}

h2 {
    font-size: 1.1rem;
    margin-bottom: 0;
}

h3 {
    font-size: 1rem;
    margin-bottom: 0;

}

p,
li {
    max-width: 75ch;
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

h1~p,
h2~p,
h3~p {
    margin-top: 0;
}

a {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    color: var(--baseTextDarkColor);
}


/* --- BUTTONS --- */
button {
    cursor: pointer;
    border: 1px solid var(--accentColor);
    padding: var(--spacing8) var(--spacing16);
    border-radius: var(--borderRadius);
    background: none;
    box-shadow: var(--shadow);
    color: var(--accentColor);

}

a.btn {
    border: 1px solid var(--accentColor);
    padding: var(--spacing8) var(--spacing16);
    border-radius: var(--borderRadius);
    background: none;
    box-shadow: var(--shadow);
    color: var(--accentColor);
    text-decoration: none;
}

a .btn:hover {}

button.mobil-menu {
    background: none;
    border: none;
    padding: var(--spacing8);
    font-size: 1.5rem;
    box-shadow: none;
}

button.mobil-menu-close {
    position: absolute;
    top: var(--spacing24);
    right: var(--spacing24);
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: var(--spacing8);
    box-shadow: none;

}

/* --- NAV --- */
.mobil-nav {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--secondaryColor);
    display: flex;
    flex-direction: column;
    gap: var(--spacing8);
    padding: var(--spacing16);
    width: 100%;
    height: 100vh;
    transition: .5s;
    transform: translateX(110%);
    align-items: center;
    z-index: 2;
}

nav a {
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--baseTextDarkColor)
}


/* Login modal*/

header .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    border-radius: var(--borderRadius);
    max-width: 400px;
}

header .modal-content form {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

header .modal-content form~ {
    width: 100%;
}

header .modal-content h2 {
    text-align: center;
}

header .modal-content input {
    border: var(--accentColorLight) solid 2px;
    border-radius: var(--borderRadius);
    height: 30px;
    margin-bottom: var(--spacing16);
}

header .modal-content input[type="submit"] {
    background: none;
    border: var(--accentColor) solid 2px;
    color: var(--accentColor);
    font-size: 1rem;
    box-shadow: var(--shadow);
}

header .modal-content a {
    color: var(--accentColorDark);
    text-align: center;
}

header .modal-close {
    position: absolute;
    top: var(--spacing24);
    right: var(--spacing24);
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: var(--spacing8);
    box-shadow: none;

}

header .close:hover,
header .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* --- FOOTER --- */

footer {
    background: var(--secondaryColor);
    margin-top: var(--spacing16);
    padding: var(--spacing16);
    display: flex;
    flex-direction: column;
    gap: var(--spacing8);
}

footer>div {
    display: flex;
    gap: var(--spacing8);
    align-items: center;
}

footer p {
    margin: 0;
}

/* --- HERO --- */
.hero {
    height: 225px;
}

.hero img {
    border-radius: 0;
}

/* --- MÅLGRUPPE --- */
.target-audience {
    display: flex;
    gap: var(--spacing16);
    align-items: center;
    margin-left: var(--spacing16);

}

.target-audience i {
    font-size: 1.5rem;
    color: var(--accentColor);
}


/* --- FEP --- */
a.fep {
    height: 200px;
    box-shadow: var(--shadow);
    border-radius: var(--borderRadius);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    margin: var(--spacing24) 0;
}

a.fep img {
    height: 150px;
    border-radius: var(--borderRadius) var(--borderRadius) 0 0;
}

a.fep:active {
    transform: scale(.95);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.253);
}

.index .fep h3 {
    margin: 0;
}

.news-page a.fep {
    display: block;
    text-decoration: none;
    height: 150px;
    padding-right: var(--spacing8);

}

.news-page .news-fep {
    display: flex;
    gap: var(--spacing8);
    align-items: center;
}

.news-page .news-fep img {
    width: 40%;
}

.news-page .news-fep p {
    color: grey;
}

/* --- VÆRIDER --- */
.values {
    background-image: url("../img/Hus-detalje.svg");
    background-size: cover;
    padding: var(--spacing48) var(--spacing16) var(--spacing32);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.values h3 {
    text-align: center;
}

.value {
    background: var(--primaryColor);
    padding: var(--spacing16);
    border-radius: var(--borderRadius);
    text-align: center;
    color: var(--primaryColorDark);
    width: 170px;
    height: 100%;
}

.value-container {
    width: 100%;
    overflow: auto;
}

.value-container::-webkit-scrollbar {
    width: 80px;
    height: 2px;
}

.value-container::-webkit-scrollbar-thumb {
    background: var(--primaryColorMedium);
    border-radius: 10px;
}

.value-container::-webkit-scrollbar-track {
    background: var(--primaryColor);
}

.value-holder {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing16);
    padding-bottom: 5px;
    height: 200px;
}

.values i {
    position: absolute;
    bottom: var(--spacing8);
    right: 0;
    animation: swipe 3s ease-in-out infinite;
}

.value h3,
.value p {
    margin: 0;
}

@keyframes swipe {
    60% {
        transform: translate(-20px)
    }

    100% {
        transform: translate(0px)
    }
}


/* --- TIL KOMMENDE BEBOERE --- */
.upcomming-citizens .bento {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: var(--spacing8);
}

.upcomming-citizens .item1 {
    grid-row: 1/3;
    grid-column: 2/4;
    height: 100%;
}

.upcomming-citizens .item2 {
    grid-row: 3/6;
    grid-column: 1/4;
    height: 100%;

}

.upcomming-citizens .item3 {
    grid-row: 2/5;
    grid-column: 4/6;
    height: 100%;

}

.upcomming-citizens .bullet {
    display: flex;
    gap: var(--spacing16);
    align-items: center;
}

.upcomming-citizens .bullet i {
    background: var(--primaryColor);
    padding: var(--spacing8);
    color: var(--primaryColorDark);
    border-radius: var(--round);
}

.upcomming-citizens .appartment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upcomming-citizens .activities {
    display: flex;
    flex-direction: column;
    gap: var(--spacing16);
}

.upcomming-citizens .activity {
    display: flex;
    flex-direction: column;
    background: var(--primaryColor);
    padding: var(--spacing24);
    border-radius: var(--borderRadius);
    text-align: center;
    align-items: center;
}

.upcomming-citizens .activity h3 {
    margin: 0;
    font-size: 1.1rem;
}

.upcomming-citizens .activity p {
    margin: 0;
}

.upcomming-citizens .activity .day-type {
    color: var(--primaryColorDark);
    font-weight: 500;
}

.upcomming-citizens .activity i {
    font-size: 2rem;
}


/* Slideshow */
.appartment .sliders {
    display: none;
    width: 85%;
    height: 100%;
    margin: auto;
}

.appartment .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: 200px;
    width: 100%;
}

.appartment .prev,
.appartment .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: var(--spacing8);
    margin-top: -22px;
    color: var(--baseTextDarkColor);
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s ease;
    border: none;
    box-shadow: none;
}

.appartment .next {
    right: 0;
    animation: point-right 1s ease-in-out infinite;
}

.appartment .prev {
    animation: point-left 1s ease-in-out infinite;
}


.appartment .prev:hover,
.appartment .next:hover {
    transform: scale(1.1);
}

.appartment .prev:active,
.appartment .next:active {
    transform: scale(.4);
}

.appartment .dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 4px 2px;
    background-color: var(--primaryColorMedium);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.appartment .active,
.appartment .dot:hover {
    background-color: var(--primaryColorDark);
}

@keyframes point-right {
    50% {
        transform: translateX(1px);
    }

    10% {
        transform: translateX(0px);
    }
}

@keyframes point-left {
    50% {
        transform: translateX(1px);
    }

    10% {
        transform: translateX(0px);
    }
}

/* --- FAGLIGE TILGANG --- */
.metoder-wrapper {
    display: flex;
    gap: var(--spacing16);
    flex-direction: column;
}

.metoder {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: var(--borderRadius);
    overflow: hidden;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.metode-dialog {
    border: none;
    border-radius: 10px;
    padding: var(--spacing48) var(--spacing32) var(--spacing32) var(--spacing32);
    max-width: 500px;
    width: 90%;
    max-height: 80vh;
    background: var(--accentColorLight);
    color: var(--accentColorDark);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    font-family: sans-serif;
    animation: fadeIn 0.3s ease;
    margin-top: var(--spacing64);
}

.metode-billede {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.metoder .overlay {
    background:
        linear-gradient(to bottom, rgba(124, 77, 12, 0.4), rgba(97, 55, 7, 0.7));
    width: 100%;
    height: 100%;
}

.metode-introbeskrivelse {
    color: var(--accentColorDark);
    font-size: 0.95rem;
    padding: var(--spacing16);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.metodeTitel {
    font-size: 1.5rem;
    font-weight: 600;
    position: absolute;
    top: 40%;
    width: 100%;
    margin: 0;
    z-index: 1;
    color: white;
    text-align: center;
}

.metode-dialog .modal-close {
    position: absolute;
    top: var(--spacing16);
    right: var(--spacing16);
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: var(--spacing8);
    box-shadow: none;

}

.metode-dialog .close:hover,
.metode-dialog .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* --- SENESTE NYT--- */
.news-overview .news-container {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing16)
}

.news-overview .news-container a {

    text-decoration: none;
}

.news-overview .news {
    display: flex;
    border-radius: var(--borderRadius);
    gap: var(--spacing8);
    height: 150px;
    box-shadow: var(--shadow);
    transition: .3s;
}

.news-overview .news:hover {
    transform: scale(1.01);
}

.news-overview a:active .news {
    transform: scale(.99);
    box-shadow: var(--shadow);

}

.news-overview .news img {
    width: 40%;
    height: 100%;
    border-radius: var(--borderRadius) 0 0 var(--borderRadius);

}

.news-overview .news p {
    font-size: .8rem;
}

.news-overview .news h3 {
    font-size: .9rem;
}

.news-page .breadcrums {
    font-size: .8rem;
    display: flex;
    gap: 4px;
    align-items: center;
    flex-wrap: wrap;
}

.news-page .breadcrums a {
    text-decoration: none;
}

.news-page .breadcrums p {
    margin: 0;
}

.news-page h2 {
    margin-bottom: var(--spacing16);
}

.news-page .date {
    font-size: .8rem;
    text-align: right;
    color: gray;
}

/* --- PERSONALE--- */


.the-team {
    background-color: var(--primaryColorMedium);
    border-radius: var(--borderRadius);
    padding: var(--spacing24);
    margin-bottom: var(--spacing16);
}

.personelCardsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing16);
}

.personelCards {
    background-color: var(--primaryColor);
    border-radius: var(--borderRadius);
    text-align: center;
    padding: var(--spacing16) var(--spacing8);
}

.personelCards i {
    font-size: 3.5rem;
    color: var(--primaryColorDark);
}

#personelCardsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

/* --- KONTAKT--- */
.contact-page .contact-info>div {
    display: flex;
    gap: var(--spacing8);
    align-items: center;
}

.contact-page .contact-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-page section .item1 {
    grid-column: 1/-1;
}

.contact-page .team-container {
    display: flex;
    gap: var(--spacing16);
    flex-wrap: wrap;
}

.contact-page .team-card {
    width: calc(100%/2 - 16px);
}

.contact-page .team-card img {
    border-radius: 2px;
    height: 200px;
}

.contact-page .team-card h4,
.contact-page .team-card p {
    margin: 0;
    text-align: center;
}

.contact-page .team-card h4 {
    font-size: .9rem;
    color: grey;
    font-weight: 400;
}

.contact-page .team-card p {
    font-size: .8rem;
}


@media only screen and (min-width: 700px) {

    h1 {
        font-size: 2rem;

    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.3rem;

    }

    main {
        /* max-width: 1500px; */
        grid-template-columns: 64px repeat(4, 1fr) 64px;
        row-gap: var(--spacing64);
    }

    footer {
        align-items: center;
    }

    .hero,
    .hero img {
        height: 350px;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        column-gap: var(--spacing64);
        position: relative;
    }

    .desktop-img {
        display: inline;
        height: 100%;
    }

    .desktop-text {
        display: block;
    }

    .values {
        display: block;
        padding-top: 75px;
    }

    .value-holder {
        height: 170px;
        margin-top: var(--spacing24);
        gap: var(--spacing32);

    }

    .value {
        width: 250px;
    }

    .values i {
        font-size: 1.3rem;
        bottom: var(--spacing32);
    }

    .index .fep {
        display: flex;
        flex-direction: row-reverse;
    }

    .index .fep img {
        width: 50%;
    }

    .primary-bg {
        display: block;
        padding: var(--spacing48);
        grid-column: span 2;
        margin: auto;
    }

    .floating-img {
        display: none;
    }

    .who-are-we .bento {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: var(--spacing8);
        max-height: 350px;
    }

    .who-are-we .item1 {
        grid-row: 1/3;
        grid-column: 1/4;
        height: 100%;
    }

    .who-are-we .item2 {
        grid-row: 1/3;
        grid-column: 4/6;
        height: 100%;

    }

    .who-are-we .item3 {
        grid-row: 3/5;
        grid-column: 1/3;
        height: 100%;

    }

    .who-are-we .item4 {
        grid-row: 3/5;
        grid-column: 3/6;
        height: 100%;

    }

    .fep-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    a.fep h3 {
        font-size: 1rem;
        text-align: center;
    }

    a.fep img {
        height: 125px;
    }

    .upcomming-citizens .bento {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 1fr);
        max-height: 400px;
    }

    .upcomming-citizens .item1 {
        grid-row: 1/4;
        grid-column: 1/5;
        height: 100%;
    }

    .upcomming-citizens .item2 {
        grid-row: 1/4;
        grid-column: 5/7;
        height: 100%;

    }

    .upcomming-citizens .item3 {
        grid-row: 4/7;
        grid-column: 1/4;
        height: 100%;

    }

    .upcomming-citizens .item4 {
        grid-row: 4/7;
        grid-column: 4/7;
        height: 100%;
    }

    .reverse-order {
        display: flex;
        flex-direction: row-reverse;
    }

    .reverse-order img {
        width: 50%;
        height: 100%;
    }

    .upcomming-citizens .activities {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .upcomming-citizens .activity {
        width: calc(50% - 16px)
    }

    .appartment .slideshow-container {

        height: 400px;
    }

    .article-card-container {
        display: block;
    }

    .the-team {
        height: 100%;
        width: 100%;
        padding: var(--spacing32);
    }

    .personelCardsContainer {
        flex-direction: row;
        justify-content: center;
        gap: var(--spacing32);
        flex-wrap: wrap;
    }

    .personelCards {
        width: calc(100% / 3 - 32px);
        padding: var(--spacing32);
    }



    .news-overview .news {
        flex-direction: column;
        height: 400px;
    }

    .news-overview .news-container a {
        width: calc(100% / 2 - 32px);
    }

    .news-overview .news img {
        width: 100%;
        height: 200px;
        border-radius: var(--borderRadius) var(--borderRadius) 0 0;

    }

    .news-overview a:active .news {
        transform: scale(.99);

    }


    .news .content {
        padding: var(--spacing16);
    }

    .news .content h3 {
        font-size: 1.3rem;
        margin-bottom: var(--spacing8);
        margin-top: 0;
    }

    .news .content p {
        font-size: 1rem;
    }


    .news-page {
        display: flex;
        gap: var(--spacing24);
        margin: var(--spacing64);
    }

    .nyhedsartiklen {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nyhedsartiklen img {
        height: 40%;
    }

    .senestNyt {
        display: flex;
        flex-direction: column;
    }

    .news-fep {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .news-page a.fep {
        display: block;
        text-decoration: none;
        height: 125px;
        padding-right: var(--spacing8);
        border-radius: var(--borderRadius);
    }

    .news-page a.fep img {
        border-radius: var(--borderRadius) 0 0 var(--borderRadius);
    }

    .news-page a.fep h3 {
        text-align: left;
    }

    .news-page .breadcrums {
        margin: var(--spacing16) 0;
    }

    .metoder-wrapper {
        gap: var(--spacing32);
        flex-direction: row;
        flex-wrap: wrap;
    }


    .metoder {
        width: calc(100% / 3 - 32px);
        height: 250px;
    }

    .metodeTitel {
        font-size: 1.3rem;
    }

    .metode-introbeskrivelse {
        font-size: 0.85rem;
    }

    .metoder:hover {
        transform: scale(1.03);
    }

    .hover-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: var(--accentColorLight);
        transition: height 0.4s ease-in-out;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .metoder:hover .metodeTitel {
        display: none;
    }

    .metoder:hover .hover-overlay {
        height: 100%;
    }

    .metoder:hover .metode-introbeskrivelse {
        opacity: 1;
    }

    .metode-dialog {
        max-width: none;
        width: 800px;
        max-height: 80vh;
        padding: 3rem;
    }

    .metode-dialog img {
        height: 350px;
    }

    .contact-page .contact-intro {
        margin-top: var(--spacing64);

    }

    .contact-page .contact-intro h1 {
        grid-column: 1/2;

    }

    .contact-page .contact-intro .item1 {
        grid-column: 1/2;
    }

    .contact-page .contact-intro .item2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .contact-page .contact-intro img {
        max-height: 400px;
        grid-row: 1/4;
    }

    .contact-page .team-container .team-card {
        width: calc(100% / 3 - 16px);
    }
}

@media only screen and (min-width: 1200px) {
    main {
        grid-template-columns: 10% repeat(4, 1fr) 10%;
        row-gap: 100px;
    }

    .hero,
    .hero img {
        height: 500px;
    }

    .values {
        height: 110%;
    }

    .primary-bg {
        display: block;
        padding: var(--spacing48);
        padding-right: 100px;
        grid-column: unset;
        margin: unset;
        width: 130%;
    }

    .floating-img {
        display: inline;
        position: absolute;
        width: 400px;
        height: 300px;
        right: 0;
        top: 150px;
    }

    .upcomming-citizens .activities {

        flex-wrap: nowrap;
    }

    .upcomming-citizens .activity {
        width: calc(100 / 5 - 16px)
    }

    .the-team {
        margin: auto;
        width: 400px;
        padding: var(--spacing48);
    }

    .news-overview .news {
        flex-direction: column;
        height: 400px;
    }

    .news-overview .news-container a {
        width: calc(100% / 3 - 32px);
    }

}

@media only screen and (min-width: 1400px) {
    main {
        grid-template-columns: 15% repeat(4, 1fr) 15%;
    }

    .floating-img {

        width: 450px;
        height: 350px;
        right: 0;
        top: 100px;
    }
}